.gitignore
gpt_download.py
gpt.py
implement_KV_chase.ipynb
qkv_chase_gpt.py

test.csv
train.csv
validation.csv
.ipynb_checkpoints
__pycache__

model_and_optimizer.pth
4.66

sms_spam_collection.zip

/sms_spam_collection
/gpt2
